* {
	outline: none;
}

body {
	width: 800px;
	height: 500px;
	margin: 0;
	padding: 15px;
	box-sizing: border-box;
}

#title {
	margin: 0 0 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#body::after {
	content: '';
	display: block;
	clear: both;
}

#files {
	width: 70%;
	height: 450px;
	float: left;
	font-size: 17px;
	overflow-x: hidden;
	padding: 0 15px 0 5px;
	box-sizing: border-box;
}

#options {
	width: auto;
	overflow: hidden;
}

#filter-type {
	width: 100%;
	height: 30px;
	float: left;
	margin-bottom: 5px;
	font-size: 14px;
}

#filter-pattern {
	width: 100%;
	height: 30px;
	box-sizing: border-box;
	border: 1px solid #bbb;
	border-radius: 5px;
	font-size: 14px;
	padding: 0 6px;
}

#summary {
	height: 320px;
	overflow: hidden;
}

#summary-table {
	width: 100%;
	font-size: 17px;
	text-align: center;
	margin: 20px 0;
}

#summary-table>thead>tr>th:first-child {
	width: 20px;
}

#summary-table>thead>tr>th:nth-child(2) {
	width: 50%;
}

#action {
	text-align: center;
}

#go {
	border: none;
	width: 120px;
	height: 40px;
	font-size: 17px;
	background: #2196f3;
	color: #fff;
	cursor: pointer;
	transition: background .3s ease-in-out;
}

#go:hover {
	background: #42a5f5;
}

#go:active {
	background: #1e88e5;
}

#go[disabled] {
	background: #888;
	cursor: default;
}

#loading {
	position: fixed;
	background: rgba(0,0,0,.3);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#loading::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 3px solid rgba(255,255,255,.3);
	border-bottom-color: #fff;
	height: 40px;
	width: 40px;
	border-radius: 20px;
	animation: rotate .5s linear infinite;
	box-sizing: border-box;
}

@keyframes rotate {
	0% {
		transform: translate(-50%, -50%) rotate(0);
	}
	50% {
		transform: translate(-50%, -50%) rotate(180deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
