* {
    color: #ffff00 !important;
    background-color: #000 !important;
}

#region-main div#fullscreen.fullscreen,
div#fullscreenfloat.fullscreen,
div#fullscreenfloat.fullscreen.restore_fullscreen {
  background-color: #FEFEFE !important;
  opacity: 0.8;
}

#page .block,
#region-main {
    border: 1px solid #ffff00;
}

#region-main .block {
    border: none;
}

.backstretch,
.navbar-lower .logo img {
    display: none;
}

.navbar-lower .logo h1 {
    display:block;
}

.navbar-lower .brand {
    padding:20px;
    background-color: #ffff00 !important;
}

.navbar .nav > li.menu-home > a {
    display: inline;
    background: none;
    font: inherit;
    padding: 12px 15px 11px;
    width: auto;
    height: auto;
}

.tabtree .tabrow0 li a,
.tabtree .tabrow1 li a,
.tabtree .tabrow0 li a span,
.tabtree .tabrow1 li a span {
    background-image: none;
    background: #10171c !important;
    background: -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #000 100%) !important; 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#10171c), color-stop(4%,#313d45), color-stop(100%,#000)) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#10171c', endColorstr='#000', GradientType=0) !important;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.tabtree .tabrow0 li a:hover,
.tabtree .tabrow1 li a:hover,
.tabtree .tabrow0 li a:hover span,
.tabtree .tabrow1 li a:hover span {
    background-image: none;
    background: #000 !important;
    background: -moz-linear-gradient(top, #3D4850 3%, #10171c 4%, #000 100%) !important; 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#3D4850), color-stop(4%,#10171c), color-stop(100%,#000)) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3D4850', endColorstr='#000', GradientType=0) !important;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.tabtree .tabrow0 li.selected,
.tabtree .tabrow0 li.selected a,
.tabtree .tabrow0 li.selected a span{
    background-image: none;
    background: #313d45 !important;
    background: -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #10171c 100%) !important; 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#3D4850), color-stop(4%,#313d45), color-stop(100%,#10171c)) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3D4850', endColorstr='#10171c', GradientType=0) !important;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

#content a,
.tabrow0 span {
    color: #ff0 !important;
}

.tabrow0 span:hover {
    text-decoration: underline;
}

.block_accessibility .outer {
    border-color:#fff !important;
}

#course-header,
#faculty-header,
#course-header h1,
#faculty-header h3 {
    background:transparent;
}

body.jsenabled #footer-expandable .footer-toggle {
    background-color:#000;
    padding-bottom:7px;
}

#footer-expandable {
    border-top-color: #ffff00;
    border-top-width: 1px;
    border-top-style: solid;
}

#faculty-header h3 {
    padding-left:0 !important;
}

.block_new_course_overview .expandable-closed .course_title h2.title,
body.jsenabled.format-topcoll .course-content ul.ctopics li.section .content .toggle a.toggle_closed,
.format-topcoll #toggle-all .content .sectionbody h4 a.on,
.format-topcoll #toggle-all .content .sectionbody h4 a.on:hover {
    background: none;
}

.block_new_course_overview .expandable-open .course_title h2.title,
body.jsenabled.format-topcoll .course-content ul.ctopics li.section .content .toggle a.toggle_open,
.format-topcoll #toggle-all .content .sectionbody h4 a.off,
.format-topcoll #toggle-all .content .sectionbody h4 a.off:hover{
    background: none;
}

.block_new_course_overview .expandable-closed .course_title h2.title:after,
body.jsenabled.format-topcoll .course-content ul.ctopics li.section .content .toggle a.toggle_closed:after,
.format-topcoll #toggle-all .content .sectionbody h4 a.on:after {
    display: block;
    position: absolute;
    right: 0;
    top: 15px;
    content: '\25bc'
}

.block_new_course_overview .expandable-open .course_title h2.title:after,
body.jsenabled.format-topcoll .course-content ul.ctopics li.section .content .toggle a.toggle_open:after,
.format-topcoll #toggle-all .content .sectionbody h4 a.off:after {
    display: block;
    position: absolute;
    right: 0;
    top: 15px;
    content: '\25b2'
}

input#id_submitbutton, input#id_submitbutton2, input[type="text"]+button, input.submitbutton, input.addcancel, 
button:first-child, #notice .singlebutton+.singlebutton input, .submit.buttons input, .singlebutton input, button,
.singlebutton a, input.form-submit, input[type="button"], input[type="submit"], input[type="reset"] {
    background-image: none !important;
    font-weight: bold;
    text-shadow: 1px 1px #1f272b;
    border: 1px solid #1c252b;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #232B30 !important; /* old browsers */
    background: -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #232B30 100%) !important; /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#3D4850), color-stop(4%,#313d45), color-stop(100%,#232B30)) !important; /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D4850', endColorstr='#232B30',GradientType=0 ) !important; /* ie */
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* CSS3 */
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* Firefox */
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* Safari, Chrome */
}

input#id_submitbutton:hover, input#id_submitbutton2:hover, input[type="text"]+button:hover, input.submitbutton:hover, input.addcancel:hover, 
#notice .singlebutton+.singlebutton input:hover, .submit.buttons input:hover, .singlebutton input:hover, button:hover,
.singlebutton a:hover, input.form-submit:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
    background-image: none !important;
    background: #4C5A64 !important;
}

.editor_atto_content_wrap {
    background-color: #000;
}

div.editor_atto_toolbar {
    background: #000;
}

div.editor_atto_toolbar button,
div.editor_atto_toolbar button img.icon,
div.editor_atto_toolbar div.atto_group {
    display: inline-block;
    background: #111010 !important; /* old browsers */
}

div.editor_atto_toolbar button:hover,
div.editor_atto_toolbar button img.icon:hover,
.editor_atto_toolbar button:hover {
    background-image: none;
    background: #000 !important;
}

.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd, .moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd.yui3-widget-hd {
    background-image: none;
    color: #ffff00 !important;
}

div.editor_atto_content table, div.editor_atto_content tr,
div.editor_atto_content td, div.editor_atto_content th, div.editor_atto_content caption {
    border-collapse: separate;
}

.mform span.error, #adminsettings span.error {
    border: 2px solid #FF0000;
}

#adminsettings .error, .loginpanel .error, .mform .error {
    color: #FF0000;
}

.error {
    color: #FF0000 !important;
    font-size: 1.1em;
}

.yui-skin-sam .yui-calendar td.calcell:hover,
.yui-skin-sam .yui-calendar td.calcell.today,
.yui-skin-sam .yui-calendar td.calcell.selected {
    font-weight: bold;
}

.yui-skin-sam .yui-calendar td.calcell.selected {
    background-color: #ffff00 !important;
}

.yui-skin-sam .yui-calendar td.calcell.oom {
    background-color: #282826 !important;
    color: #c4c462 !important;
    border: 1px solid #c4c462;
}
